[package]
name = "nv-redfish"
version.workspace = true
license-file.workspace = true
repository.workspace = true
readme.workspace = true
edition.workspace = true
keywords.workspace = true
categories.workspace = true
documentation.workspace = true

[features]
default = []
std-redfish = ["accounts", "chassis", "systems", "update-service", "managers"]
accounts = []
chassis = ["__log-service"]
systems = ["__log-service"]
update-service = []
managers = ["__log-service"]

# Internal feature, does not make sense on it own
__log-service = []

# OEM features support
oem-lenovo = ["oem"]
oem-hpe = ["oem"]
oem-supermicro = ["oem"]
oem-dell = ["oem"]
oem-ami = ["oem"]
oem-nvidia = ["oem"]
oem = []

[dependencies]
nv-redfish-core = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }

[build-dependencies]
csdl-compiler = { workspace = true }