[package]
name = "nv-redfish"
version.workspace = true
license-file.workspace = true
description.workspace = true
repository.workspace = true
readme.workspace = true
edition.workspace = true
keywords.workspace = true
categories.workspace = true
documentation.workspace = true
include = [
    "src/**/*",
    "build.rs",
    "features.toml",
    "schemas/**/*.xml",
    "oem/**/*.xml",
    "oem/**/README.md",
]

[features]
default = []

std-redfish = [
    "accounts",
    "chassis",
    "log-services",
    "managers",
    "memory",
    "power",
    "power-supplies",
    "processors",
    "sensors",
    "storages",
    "systems",
    "thermal",
    "update-service",
]

accounts = []
chassis = []
log-services = []
managers = []
memory = []
power = [] # Support of legacy PowerSubsystem
power-supplies = []
processors = []
sensors = []
storages = []
systems = []
thermal = []  # Support of legacy ThermalSubsystem
update-service = []

# OEM features support
oem-lenovo = ["oem"]
oem-hpe = ["oem"]
oem-supermicro = ["oem"]
oem-dell = ["oem"]
oem-ami = ["oem"]
oem-nvidia = ["oem"]
oem = []

[dependencies]
nv-redfish-core = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }

[build-dependencies]
csdl-compiler = { workspace = true }